<template>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 193">
  <circle class="st0" cx="195" cy="98" r="82" />
  <g class="st1">
    <g>
      <path
        class="st2"
        d="M22.88,156.66c-9.89-7.89-12.02-21.86-13.78-33.65c-1.77-11.87-3.02-24.81-0.48-36.67
    c1-4.65,2.62-9.29,5.48-13.14c4.07-5.49,9.83-7.51,16.27-8.95c5.08-1.14,9.99-2.25,14.22-5.46c3.63-2.75,6.35-6.4,8.91-10.11
    c7.05-10.23,14.61-19.51,28.02-20.42c11.84-0.8,20.48,8.7,32.01,8.76c11.13,0.06,20.28-7.56,28.45-14.18
    c9.18-7.43,24.97-18.03,35.95-7.37c6.44,6.25,7.44,16.46,15.37,21.48c6.47,4.09,14.49,2.84,21.54,1.28
    c8.64-1.91,19.78-6.18,27.87-0.48c11.81,8.32,5.92,24.66,7.17,36.43c1.02,9.6,9.27,10.38,17.02,12.15
    c17.58,4.02,10.99,22.85,4.38,33.73c-11.8,19.4-30.36,33.96-50.83,43.37c-27.15,12.49-57.64,15.74-87.23,15.38
    c-25.84-0.31-54.36-2.89-74.25-21.25c-1.42-1.31-3.54,0.81-2.12,2.12c17.89,16.51,42.62,20.84,66.15,21.86
    c27.93,1.22,56.69-0.59,83.4-9.41c22.43-7.41,43.55-20.15,58.77-38.43c7.09-8.51,15.18-19.66,16.27-31.03
    c0.45-4.73-0.59-9.74-3.58-13.53c-3.22-4.07-7.87-5.28-12.74-6.23c-2.09-0.4-4.23-0.71-6.24-1.43c-4.98-1.8-6.04-5.67-6.09-10.62
    c-0.07-6.79,1.18-13.51,0.12-20.28c-1.44-9.22-7.09-17.14-16.79-18.39c-9.12-1.18-18.05,2.74-26.92,4.09
    c-5.58,0.85-11.55,0.7-16.04-3.18c-4.29-3.71-6.1-9.46-8.91-14.21c-5.4-9.12-14.65-12.4-24.89-9.72
    c-12.18,3.18-20.3,13.65-30.73,19.94c-7.06,4.26-14.79,6.34-22.75,3.39c-6.11-2.26-11.44-6.01-18.01-6.98
    c-10.42-1.53-21.38,2.63-28.53,10.27c-4.06,4.34-6.92,9.6-10.49,14.32c-5.18,6.84-11.02,9.39-19.24,11.25
    C17.42,64.1,9.76,70.62,6.39,82.86c-3.46,12.54-2.2,26.4-0.44,39.11c1.78,12.8,4.06,28.24,14.81,36.82
    C22.26,159.98,24.39,157.87,22.88,156.66L22.88,156.66z"
      />
    </g>
  </g>
  <g>
    <g>
      <path
        d="M37.54,153.27c1.93,0,1.93-3,0-3C35.61,150.27,35.61,153.27,37.54,153.27L37.54,153.27z"
      />
    </g>
  </g>
  <circle class="st3" cx="40.5" cy="88.5" r="26.5" />
  <path
    class="st4"
    d="M40.5,112c-14.13,0-25.68-11.06-26.46-25C14.02,87.5,14,88,14,88.5c0,14.64,11.86,26.5,26.5,26.5
S67,103.14,67,88.5c0-0.5-0.02-1-0.04-1.5C66.18,100.94,54.63,112,40.5,112z"
  />
  <circle class="st5" cx="89.5" cy="52.5" r="52.5" />
  <path
    class="st6"
    d="M133.35,64.65c-0.14,4.14-4.61,7.34-4.61,7.34s-4.23-3.51-4.09-7.65c0.14-4.14,4.61-7.34,4.61-7.34
S133.5,60.51,133.35,64.65z"
  />
  <path
    class="st6"
    d="M112.15,90.64c-2.98,1.09-6.55-1.16-6.55-1.16s1.27-4.02,4.25-5.11c2.98-1.09,6.55,1.16,6.55,1.16
S115.13,89.54,112.15,90.64z"
  />
  <path
    class="st7"
    d="M91.5,101C62.51,101,39,77.49,39,48.5c0-7.65,1.65-14.92,4.6-21.48C39.4,34.57,37,43.25,37,52.5
C37,81.49,60.51,105,89.5,105c21.34,0,39.69-12.74,47.9-31.02C128.44,90.09,111.25,101,91.5,101z"
  />
  <path class="st8" d="M98,178H81V67.5c0-4.69,3.81-8.5,8.5-8.5h0c4.69,0,8.5,3.81,8.5,8.5V178z" />
  <path class="st4" d="M81,67.5V178h4V60.3C82.6,61.8,81,64.46,81,67.5z" />
  <g>
    <path
      class="st3"
      d="M79.03,179.75c4.46-10.82,7.19-23.09,3.46-34.19c-3.72-11.1-15.71-19.99-27-16.89
  c-2.66,0.73-5.16,2.06-7.89,2.51c-7.93,1.3-17.09-4.82-23.47,0.06c-5.26,4.02-4.27,12.77-9.06,17.35
  c-2.14,2.04-5.13,2.94-7.46,4.76c-4.36,3.41-5.7,9.61-4.74,15.06c0.96,5.45-1.9,7.97-2.87,9.01c-0.35,0.37,15.71-0.88,19.06,1.36
  c3.04,2.04,10.36-0.91,13.99-0.47c15.91,1.92,6.62,6.38,20.99-0.71"
    />
  </g>
  <g class="st4">
    <path
      d="M6.87,172.41c-0.96-5.45,0.39-11.66,4.74-15.06c2.33-1.82,5.32-2.72,7.46-4.76c4.79-4.58,3.8-13.33,9.06-17.35
  c6.38-4.88,15.55,1.24,23.47-0.06c2.73-0.45,5.22-1.78,7.89-2.51c6.47-1.77,13.16,0.39,18.4,4.64c-5.5-6.75-14.13-10.91-22.4-8.64
  c-2.66,0.73-5.16,2.06-7.89,2.51c-7.93,1.3-17.09-4.82-23.47,0.06c-5.26,4.02-4.27,12.77-9.06,17.35
  c-2.14,2.04-5.13,2.94-7.46,4.76c-4.36,3.41-5.7,9.61-4.74,15.06c0.96,5.45-1.9,7.97-2.87,9.01c-0.15,0.17,2.89,0.01,6.63-0.02
  C7.05,176.1,7.23,174.47,6.87,172.41z"
    />
  </g>
  <path
    class="st8"
    d="M85,116c0,0-30,1-38-23l-7,4c0,0,9.29,30.32,45,30C85.29,127.32,85,116,85,116z"
  />
  <path
    class="st4"
    d="M85,124c-29.48,0.27-40.95-20.34-44.05-27.54C40.73,96.59,40,97,40,97s9.29,30.32,45,30V124z"
  />
  <path
    class="st6"
    d="M65.86,75.56c3.75,1.77,4.92,7.14,4.92,7.14s-4.9,2.5-8.64,0.73c-3.75-1.77-4.92-7.14-4.92-7.14
S62.11,73.79,65.86,75.56z"
  />
  <path
    class="st6"
    d="M40.93,80.62c1.79,3.74-0.69,8.65-0.69,8.65s-5.38-1.15-7.17-4.89c-1.79-3.74,0.69-8.65,0.69-8.65
S39.14,76.88,40.93,80.62z"
  />
  <path
    class="st6"
    d="M30.9,96.18c2.6,0.84,3.82,4.24,3.82,4.24s-2.98,2.05-5.58,1.21c-2.6-0.84-3.82-4.24-3.82-4.24
S28.31,95.34,30.9,96.18z"
  />
  <text transform="matrix(1 0 0 1 115.9465 79.0571)">
    <tspan x="0" y="0" class="st9 st10">Minne</tspan>
    <tspan x="-9.84" y="72" class="st9 st10">Kävellä</tspan>
  </text>
  <path
    class="st6"
    d="M93.35,40.47c0.03,4.14-4.31,7.53-4.31,7.53s-4.38-3.33-4.4-7.47C84.62,36.39,88.95,33,88.95,33
S93.33,36.33,93.35,40.47z"
  />
  <path
    class="st6"
    d="M107.71,52.28c-1.75,2.56-5.85,2.79-5.85,2.79s-1.27-3.91,0.48-6.46c1.75-2.56,5.85-2.79,5.85-2.79
S109.45,49.73,107.71,52.28z"
  />
  <path
    class="st6"
    d="M70.33,52.28c1.75,2.56,5.85,2.79,5.85,2.79s1.27-3.91-0.48-6.46c-1.75-2.56-5.85-2.79-5.85-2.79
S68.59,49.73,70.33,52.28z"
  />
  <path
    class="st6"
    d="M54.02,45.82c1.6,3.82-1.12,8.6-1.12,8.6s-5.31-1.42-6.91-5.24s1.12-8.6,1.12-8.6S52.42,42,54.02,45.82z"
  />
  <path
    class="st6"
    d="M70.86,23.51c-1.91,3.68-7.32,4.65-7.32,4.65s-2.31-4.99-0.4-8.66s7.32-4.65,7.32-4.65S72.77,19.83,70.86,23.51
z"
  />
  <path
    class="st6"
    d="M100.59,18.62c-3.92-1.34-5.69-6.54-5.69-6.54s4.58-3.04,8.5-1.7c3.92,1.34,5.69,6.54,5.69,6.54
S104.51,19.96,100.59,18.62z"
  />
  <path
    class="st6"
    d="M122.4,35.94c-2.32-3.43-0.6-8.65-0.6-8.65s5.49,0.34,7.81,3.76c2.32,3.43,0.6,8.65,0.6,8.65
S124.72,39.37,122.4,35.94z"
  />
  <g>
    <path
      class="st11"
      d="M107.65,157.32c3.06,0.53,5.57,2.7,6.74,5.28c1.16,2.58,1.1,5.5,0.33,8.2c-0.52,1.84-1.39,3.65-2.85,5.03
  s-3.58,2.29-5.7,2.11c-2.01-0.18-3.87-1.29-5.88-1.13c-1.15,0.09-2.21,0.59-3.3,0.94c-5,1.55-11.11-0.81-13.26-5.12
  c-0.71-1.42-1.02-2.97-1.16-4.52c-0.31-3.34,0.14-6.8,1.81-9.81c1.66-3.01,4.63-5.52,8.25-6.43c6.29-1.58,13,2,16.66,6.82"
    />
  </g>
  <g>
    <path
      class="st12"
      d="M112,176.2c2.98-2.4,2.96-6.12,2.74-9.43c-0.07-1.02-0.14-2.08-0.76-2.98c-1.65-2.44-6.02-2.6-9.3-3.7
        c-3.64-1.22-6.9-3.95-10.8-3.34c-1.35,0.21-2.54,0.81-3.55,1.53c-4.27,3-5.54,8.22-2.98,12.2c2.16,3.36,6.5,5.56,10.91,7.18
        c1.81,0.66,3.72,1.26,5.72,1.33c2,0.08,4.15-0.46,5.35-1.69"
    />
  </g>
  <g>
    <path
      class="st11"
      d="M92.91,160.27c2.75,0.27,5.12,2.03,6.32,4.25c1.2,2.21,1.34,4.81,0.84,7.25c-0.34,1.67-0.99,3.33-2.2,4.65
        s-3.02,2.27-4.92,2.24c-1.79-0.02-3.52-0.89-5.3-0.62c-1.02,0.16-1.92,0.67-2.87,1.05c-4.33,1.71-9.91,0.02-12.1-3.67
        c-0.72-1.21-1.1-2.57-1.33-3.93c-0.5-2.95-0.32-6.04,0.96-8.82s3.74-5.21,6.9-6.25c5.47-1.81,11.66,0.92,15.23,4.96"
    />
  </g>
  <g>
    <path
      class="st12"
      d="M96.86,176.86c2.49-2.33,2.22-5.62,1.81-8.54c-0.13-0.9-0.26-1.83-0.87-2.6c-1.63-2.06-5.51-1.91-8.5-2.67
        c-3.31-0.84-6.38-3.05-9.8-2.26c-1.18,0.27-2.2,0.89-3.05,1.59c-3.59,2.95-4.38,7.66-1.84,11.02c2.14,2.84,6.13,4.51,10.15,5.65
        c1.65,0.47,3.38,0.87,5.16,0.81c1.78-0.06,3.65-0.68,4.63-1.85"
    />
  </g>
  <g>
    <g>
      <path
        class="st13"
        d="M19.48,161.71c-1.09-0.81-4.22-0.92-3.79,1.22c0.52,2.61,4.92-0.31,6.16,1.69c0.28-0.37,0.56-0.73,0.85-1.1
          c-1.12-0.26-1.99-1-2.13-2.18c-0.04-0.34,0.22-1.37-0.52-1.13c-0.13,0.04-0.62,1.29-0.69,1.43c-0.42,0.87-0.84,1.75-1.26,2.62
          c-0.24,0.51-0.7,1.2-0.64,1.8c0.09,0.97,1.07,1.48,1.89,0.95c0.98-0.64,1.37-1.95,1.31-3.05c-0.05-0.96-1.55-0.97-1.5,0
          c0.02,0.31-0.45,1.75-0.11,1.77c0.1,0.01,0.65-1.34,0.69-1.43c0.54-1.11,1.08-2.22,1.61-3.33c0.43-0.92,0.78-2.67-0.85-2.48
          c-1.34,0.16-1.57,2.13-1.41,3.16c0.27,1.72,1.56,2.94,3.22,3.33c0.61,0.14,1.2-0.52,0.85-1.1c-0.6-0.97-1.64-1.29-2.73-1.45
          c-0.64-0.09-1.28-0.11-1.92-0.04c-0.22,0.03-0.47,0.04-0.69,0.11c-0.56,0.1-0.53,0.17,0.1,0.2c0.33-0.03,0.6,0.08,0.82,0.32
          C19.5,163.58,20.25,162.28,19.48,161.71L19.48,161.71z"
      />
    </g>
  </g>
  <g>
    <g>
      <path
        class="st13"
        d="M33,148.83c-0.73-0.89-1.65-1.84-2.88-1.87c-1.04-0.03-1.94,0.68-1.82,1.78c0.11,1.06,1.01,1.65,1.98,1.85
          c0.73,0.15,1.51,0.14,2.25,0.19c0.37,0.02,0.8,0.13,1.16,0.09c0.55-0.06,0.47-0.12,0.35-0.66c-0.13-0.65-0.19-1.31-0.28-1.97
          c0.13-0.26,0.07-0.44-0.18-0.55c-0.19-0.3-0.33-0.26-0.42,0.1c-0.25,0.22-0.44,0.56-0.68,0.8c-0.72,0.74-2.27,1.49-2.58,2.51
          c-0.26,0.84,0.43,1.52,1.25,1.48c1.05-0.04,1.72-1.04,2.06-1.91c0.35-0.9-1.1-1.29-1.45-0.4c-0.08,0.21-0.74,0.94-0.27,1.16
          c0.08,0.03,0.71-0.58,0.84-0.69c0.55-0.46,1.1-0.93,1.57-1.48c0.54-0.63,1.53-1.77,0.89-2.62c-0.56-0.74-1.63-0.46-2.12,0.21
          c-0.71,0.97-0.34,2.32-0.15,3.4c0.19,1.1,0.61,2.31,1.9,2.41c1.02,0.07,1.72-0.83,1.48-1.8c-0.31-1.25-1.62-1.43-2.71-1.51
          c-0.62-0.04-2.08,0.12-2.62-0.21c-0.37,0.02-0.39-0.16-0.05-0.53c0.18,0.09,0.35,0.2,0.49,0.34c0.35,0.28,0.63,0.63,0.91,0.97
          C32.55,150.63,33.61,149.57,33,148.83L33,148.83z"
      />
    </g>
  </g>
  <g>
    <g>
      <path
        class="st14"
        d="M39.12,164.71c-0.53-1.04-1.33-2.16-2.65-2.11c-1.06,0.04-1.95,1.1-1.6,2.15c0.4,1.17,2.32,1.65,3.31,2.13
          c0.38,0.18,0.78,0.34,1.14,0.56c0.12,0.08,0.23,0.16,0.35,0.24c-0.36,0.08-0.5-0.12-0.41-0.58c-0.06-0.67,0.24-2.85,1.27-2.55
          c-0.15-0.37-0.3-0.73-0.45-1.1c-0.57,1.16-1.47,1.78-2.72,2.06c-0.74,0.17-1.82,0.3-2.27,1.01c-0.37,0.59-0.12,1.37,0.51,1.67
          c0.76,0.36,1.45-0.08,1.98-0.61c0.68-0.69-0.38-1.75-1.06-1.06c-0.21,0.11-0.24,0.26-0.09,0.45c-0.07,0.18-0.15,0.35-0.22,0.53
          c0.33-0.41,1.06-0.44,1.55-0.55c0.55-0.13,1.07-0.28,1.57-0.56c0.9-0.5,1.6-1.27,2.05-2.19c0.21-0.44,0.04-0.96-0.45-1.1
          c-3.63-1.06-4.43,6.82-0.95,6.33c1.7-0.24,1.67-2.12,0.52-3.01c-0.76-0.59-1.74-0.93-2.6-1.35c-0.1-0.05-1.46-0.58-1.47-0.71
          c0.19-0.04,0.37-0.08,0.56-0.11c0.19,0.15,0.35,0.32,0.47,0.53c0.15,0.21,0.26,0.46,0.38,0.69
          C38.27,166.33,39.56,165.57,39.12,164.71L39.12,164.71z"
      />
    </g>
  </g>
  <g>
    <g>
      <path
        class="st14"
        d="M68.14,141.63c-0.2-0.42-0.53-0.9-0.64-1.35c0.16-0.25,0.14-0.44-0.04-0.58c-0.08,0.21-0.17,0.42-0.25,0.63
          c-0.32,0.74-0.64,1.36-0.73,2.17c-0.14,1.29,0.2,2.93,1.29,3.74c0.22,0.17,0.53,0.11,0.76,0c1.09-0.51,1.25-2.46,0.52-3.31
          c-0.55-0.65-1.52-1.03-2.26-1.41c-0.6-0.31-1.22-0.68-1.88-0.3c-0.84,0.48-1.42,2.2-0.3,2.67c0.72,0.3,1.58-0.26,2.25-0.45
          c1.16-0.34,2.35-0.56,3.56-0.68c-0.18-0.43-0.35-0.85-0.53-1.28c-0.82,0.64-1.73,0.97-2.75,1.12c-0.95,0.14-0.55,1.59,0.4,1.45
          c1.3-0.19,2.38-0.71,3.41-1.51c0.5-0.39,0.09-1.34-0.53-1.28c-0.94,0.09-1.87,0.22-2.8,0.43c-0.5,0.11-2.16,0.89-2.61,0.75
          c0.17,0.17,0.35,0.35,0.52,0.52c-0.16-0.46,1.48,0.37,1.54,0.4c0.52,0.28,1.31,1.29,0.7,1.57c0.25,0,0.5,0,0.76,0
          c-0.53-0.39-0.62-1.69-0.57-2.24c0.08-0.82,0.53-1.45,0.81-2.2c0.3-0.81,0.32-1.82-0.64-2.15c-0.74-0.25-1.81,0.05-2.2,0.74
          c-0.55,0.99,0.52,2.42,0.92,3.28C67.25,143.26,68.55,142.5,68.14,141.63L68.14,141.63z"
      />
    </g>
  </g>
  <g>
    <g>
      <path
        class="st14"
        d="M67.11,166.3c-0.88-0.79-2.12-2.49-3.45-2.32c-1.08,0.14-2.03,1.57-1.71,2.61c0.48,1.51,2.46,0.57,3.42,0.27
          c0.47-0.14,0.96-0.35,1.45-0.42c0.25-0.01,0.5-0.01,0.75-0.02c0.88,0.08,0.99,0.01,0.35-0.19c-0.69-0.74-1.34-1.2-1.16-2.38
          c0.14-0.93-1.2-1.36-1.45-0.4c-0.29,1.11-0.79,2.14-1.1,3.23c-0.21,0.75-0.23,1.47,0.25,2.12c0.3,0.41,1.04,0.56,1.3,0
          c0.29-0.63,0.52-1.25,0.68-1.92c0.22-0.94-1.22-1.34-1.45-0.4c-0.13,0.54-0.29,1.05-0.52,1.56c0.43,0,0.86,0,1.3,0
          c-0.44-0.61,0.09-1.44,0.32-2.03c0.28-0.71,0.5-1.43,0.68-2.16c-0.48-0.13-0.96-0.27-1.45-0.4c-0.22,1.45,0.25,2.87,1.43,3.78
          c0.82,0.63,2.74,1.19,2.83-0.44c0.08-1.62-1.96-2.04-3.15-1.8c-0.32,0.07-2.98,0.83-2.97,0.89c-0.13-0.76,1.3,0.31,1.38,0.39
          c0.4,0.37,0.81,0.73,1.21,1.1C66.76,168.01,67.83,166.95,67.11,166.3L67.11,166.3z"
      />
    </g>
  </g>
  <g>
    <g>
      <path
        class="st13"
        d="M55.51,152.43c-0.05-1.02-0.21-2.12-1.17-2.69c-0.74-0.44-1.75-0.3-2.24,0.47c-1.4,2.22,3.55,3.49,3.17,5.79
          c0.42-0.11,0.84-0.22,1.25-0.33c-0.87-0.91-0.86-1.73-1.05-2.89c-0.1-0.59-0.4-1.05-0.97-1.29c-1.33-0.56-2.54,0.48-3.18,1.57
          c-0.61,1.05-0.25,2.43,1.17,2.25c0.79-0.1,1.73-0.67,2.43-1.03c1-0.52,1.94-1.13,2.84-1.81c-0.37-0.15-0.73-0.3-1.1-0.45
          c0.07,0.19-0.98,0.62-1.06,0.65c-0.35,0.11-0.7,0.12-1.06,0.1c-0.97-0.04-0.96,1.46,0,1.5c1.31,0.05,4.19-0.81,3.56-2.65
          c-0.14-0.41-0.69-0.76-1.1-0.45c-0.9,0.68-1.84,1.29-2.84,1.81c-0.39,0.2-1.01,0.38-1.35,0.63c-0.39,0-0.49,0.15-0.31,0.43
          c0.12-0.27,0.28-0.51,0.48-0.73c0.21-0.28,0.49-0.44,0.86-0.48c0.12,0.29,0.18,0.59,0.17,0.9c0.05,0.3,0.08,0.59,0.16,0.89
          c0.24,0.81,0.69,1.51,1.27,2.11c0.36,0.38,1.16,0.24,1.25-0.33c0.2-1.24-0.19-2.29-1.02-3.23c-0.45-0.51-0.98-0.92-1.49-1.36
          c-0.12-0.11-0.88-0.78-0.83-0.83c0.18,0.2,0.35,0.41,0.53,0.61c0.06,0.28,0.09,0.57,0.09,0.85
          C54.06,153.39,55.56,153.39,55.51,152.43L55.51,152.43z"
      />
    </g>
  </g>
  <g>
    <g>
      <path
        class="st14"
        d="M45.85,139.95c-0.76-0.16-2.05-0.63-2.38,0.43c-0.26,0.83,0.63,1.47,1.24,1.82
          c0.42,0.24,0.87,0.42,1.34,0.56c0.12,0.03,0.5,0.2,0.58,0.18c0.13-0.15,0.26-0.3,0.39-0.45c-0.05-0.08-0.08-0.17-0.1-0.27
          c-0.14-0.63,0.29-1.3,0.9-1.47c-0.31-0.31-0.62-0.62-0.92-0.92c-0.52,1.36-2.57,1.14-3.24,2.33c-0.28,0.49-0.1,1.14,0.39,1.42
          c0.61,0.35,1.24,0.03,1.69-0.42c0.68-0.68-0.38-1.74-1.06-1.06c-0.23,0.13-0.21,0.3,0.06,0.49c0.06,0.37,0.2,0.45,0.42,0.23
          c0.2-0.06,0.46-0.23,0.66-0.32c0.38-0.18,0.77-0.35,1.13-0.58c0.65-0.42,1.12-0.96,1.4-1.69c0.21-0.55-0.41-1.07-0.92-0.92
          c-0.94,0.27-1.66,1.02-1.92,1.96c-0.26,0.95,0,2.29,1.02,2.69c1.1,0.43,1.96-0.77,1.42-1.75c-0.27-0.49-0.78-0.7-1.29-0.84
          c-0.3-0.08-0.59-0.16-0.87-0.29c-0.17-0.08-0.34-0.18-0.5-0.28c-0.07-0.04-0.14-0.09-0.2-0.14c-0.14-0.16-0.19-0.09-0.15,0.21
          c-0.15,0.11-0.3,0.23-0.45,0.34c0.24-0.07,0.74,0.14,0.98,0.2C46.39,141.6,46.79,140.15,45.85,139.95L45.85,139.95z"
      />
    </g>
  </g>
</svg>
</template>

<style lang="stylus" scoped>
.st0
  fill #3FA9F5
  opacity .3

.st1
  opacity .8

.st2
  fill #3FA9F5

.st3
  fill #009245

.st4
  opacity .2

.st5
  fill #4CAF50

.st6
  fill #8CC63F

.st7
  fill #006837
  opacity .61

.st8
  fill #754C24

.st9
  font-family 'Milkshake'

.st10
  font-size 60px

.st11
  fill #999999

.st12
  fill #B3B3B3

.st13
  fill #F7931E

.st14
  fill #FCEE21
</style>
