<template lang="pug">
MglMap.map(
  :accessToken="accessToken"
  :mapStyle="mapStyle"
  :center="[25.7481511, 61.92411]"
  :minZoom="4"
  :maxZoom="12"
)
  MglMarker(
    v-for="market in ParkSearchList"
    color="#409EFF"
    :coordinates="[market.lon, market.lat]"
    @click="$emit('onParkClick', market.park_id)"
  )
  MglMarker(
    v-for="market in parkRecommendMarketList"
    color="#67c23a"
    :coordinates="[market.lon, market.lat]"
    @click="$emit('onParkClick', market.park_id)"
  )
</template>

<script>
import { mapState } from 'vuex';
import Mapbox from 'mapbox-gl';
import { MglMap, MglMarker, MglPopup } from 'vue-mapbox';


export default {
  components: {
    MglMap,
    MglMarker,
    MglPopup,
  },

  data() {
    return {
      accessToken: 'pk.eyJ1Ijoia2FzcGVyc2tlaSIsImEiOiJjam5qa2o3N2swNmRhM3Fwa3cwMzBwa3hhIn0.C65evYEnTs0dDut36FzcWQ',
      mapStyle: 'mapbox://styles/mapbox/streets-v11',
    };
  },

  computed: {
    ...mapState([
      'ParkList',
      'ParkSearchList',
      'ParkRecommendList',
    ]),

    parkRecommendMarketList() {
      return this.ParkRecommendList.filter(it => !this.ParkSearchList.some(s => s.park_id === it.park_id));
    },
  },

  created() {
    this.mapbox = Mapbox;
  },

  methods: {
    onMarketClick(event) {
      console.log(event);
    },
  },
};
</script>

<style lang="stylus" scoped>
.map
  height 100%
  width 100%
</style>
