<template lang="pug">
section.park-details(v-if="park")
  h2.park-name {{ park.park_name }}
  figure.park-image-container
    img.park-image(
      :src="park.thumb"
    )

  ParkLoadIcon.park-load(:load="load")
  ul.park-tag-list
    li.park-tag-item(
      v-for="tag in park.tags"
      :key="tag"
    )
      figure.park-tag-image-container
        img.park-tag-image(
          :src="tag"
        )
  //- p.park-load(
  //-   :class=`{
  //-     low: park.load > 0 && park.load < 5,
  //-     medium: park.load > 4 && park.load < 8,
  //-     high: park.load > 7 && park.load < 11,
  //-   }`
  //- )
  p.park-description {{ park.description }}
  figure.park-attendance-container
    ChartLine.park-attendance-chart(
      :chartData="attendance.data"
      :options="attendance.options"
      :styles="{ height: '300px', position: 'relative' }"
    )
  figure.park-temperature-container
    ChartLine.park-temperature-chart(
      :chartData="temperature.data"
      :options="temperature.options"
      :styles="{ height: '300px', position: 'relative' }"
    )
  p.park-visit-time-recommend
  .park-link
    ElLink(
      :href="park.link"
      type="primary"
    ) Visit the web site
</template>

<script>
import { mapState } from 'vuex';

import { getPark, getParkDetailsList } from '@/services';

import ChartLine from '@/components/ChartLine.vue';
import ParkLoadIcon from '@/components/ParkLoadIcon.vue';


export default {
  components: {
    ChartLine,
    ParkLoadIcon,
  },

  props: {
    parkId: Number,
    dateStart: Date,
    dateEnd: Date,
  },

  data() {
    return {
      park: Object,
    };
  },

  computed: {
    ...mapState([
      'ParkList',
    ]),

    attendance() {
      const length = Math.floor((this.dateEnd - this.dateStart) / (60 * 60 * 24 * 1000)) + 1;
      const labels = Array.from(
        {
          length,
        },
        (_, i) => new Date(
          this.dateStart.getFullYear(),
          this.dateStart.getMonth(),
          this.dateStart.getDate() + i,
        ).toLocaleDateString(
          'en',
          {
            month: '2-digit',
            day: '2-digit',
          },
        ),
      );

      return {
        data: {
          labels,
          datasets: [
            {
              label: 'Prediction',
              backgroundColor: 'transparent',
              borderColor: 'orange',
              data: this.park.attendance_pred,
              // steppedLine: 'after', // middle
            },
            {
              label: 'Real',
              backgroundColor: 'transparent',
              borderColor: '#56baff',
              data: this.park.attendance_real,
              // steppedLine: 'after', // middle
            },
          ],
        },
        options: {
          events: false,
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text: 'Attendance',
          },
        },
      };
    },

    temperature() {
      const length = Math.floor((this.dateEnd - this.dateStart) / (60 * 60 * 24 * 1000)) + 1;
      const labels = Array.from(
        {
          length,
        },
        (_, i) => new Date(
          this.dateStart.getFullYear(),
          this.dateStart.getMonth(),
          this.dateStart.getDate() + i,
        ).toLocaleDateString(
          'en',
          {
            month: '2-digit',
            day: '2-digit',
          },
        ),
      );

      return {
        data: {
          labels,
          datasets: [
            {
              backgroundColor: 'transparent',
              borderColor: '#56baff',
              data: this.park.temperature,
              // steppedLine: 'after', // middle
            },
          ],
        },
        options: {
          events: false,
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text: 'Temperature',
          },
          legend: {
            display: false,
          },
        },
      };
    },

    load() {
      return {
        0: 'low',
        1: 'medium',
        2: 'high',
      }[this.park.load];
    },
  },

  async mounted() {
    const { loads } = await getParkDetailsList({
      dateStart: this.dateStart,
      dateEnd: this.dateEnd,
    });
    const charts = await getPark({
      parkId: this.parkId,
      dateStart: this.dateStart,
      dateEnd: this.dateEnd,
    });
    const park = this.ParkList.find(it => it.park_id === this.parkId);

    this.park = {
      ...park,
      ...charts,
      load: loads[this.parkId],
    };
  },
};
</script>

<style lang="stylus" scoped>
.park-details
  height calc(100vh - 76px)
  overflow-y auto
  padding 0 2rem 3rem

  .park-attendance-container
  .park-temperature-container
  .park-visit-time-recommend
  .park-link
    margin-bottom 1rem

  .park-name
    font-size 1.5rem
    font-weight 600
    margin-bottom 3rem

  .park-image-container
    border-radius .75rem
    margin-bottom .5rem
    overflow hidden
    padding-bottom (9 / 16) * 100%
    position relative

    .park-image
      bottom 0
      left 0
      position absolute
      right 0
      top 0

  .park-load
    float right
    height 2.5rem
    margin 1rem 0 0 1rem

  .park-tag-list
    display flex
    flex-wrap wrap
    padding 1rem 0

    .park-tag-item
      margin-bottom .75rem
      margin-right .75rem

      .park-tag-image-container
        background-color #56baff
        border-radius 50%
        height 2.5rem
        overflow hidden
        padding .5rem
        width 2.5rem

        .park-tag-image
          display block
          filter hue-rotate(190deg) saturate(10)

  .park-description
    color #333
    line-height 1.5
    margin 2rem 0 3rem

  .park-attendance-container
  .park-temperature-container
    color #666
    font-size .825rem
    text-align center

  .park-link
    margin 2rem auto 0
    text-align center
</style>
