<template lang="pug">
#app
  MglMap#map(
    :accessToken="accessToken"
    :mapStyle="mapStyle"
  )
</template>

<script>
import Mapbox from 'mapbox-gl';
import { MglMap } from 'vue-mapbox';
import wretch from 'wretch';


export default {
  components: {
    MglMap,
  },

  data() {
    return {
      accessToken: 'pk.eyJ1Ijoia2FzcGVyc2tlaSIsImEiOiJjam5qa2o3N2swNmRhM3Fwa3cwMzBwa3hhIn0.C65evYEnTs0dDut36FzcWQ',
      mapStyle: 'mapbox://styles/mapbox/streets-v11',
    };
  },

  created() {
    this.mapbox = Mapbox;
    return;
    wretch('https://api.instagram.com/v1/media/search?')
      .query({
        lat: 10,
        lng: 10,
        access_token: '3243165896.ba4c844.78bbe9d6d38c46c8953c5b06f2cb88ea',
      })
      .get()
      .json()
      .then(console.log);
  },
};
</script>

<style lang="stylus" scoped>
#map
  height 100vh
</style>
