*
*:before
*:after
    box-sizing inherit

html
body
p
ol
ul
li
dl
dt
dd
blockquote
figure
fieldset
legend
textarea
pre
iframe
hr
h1
h2
h3
h4
h5
h6
    margin 0
    padding 0

h1
h2
h3
h4
h5
h6
    font-size 100%
    font-weight normal

ul
    list-style none

button
input
select
textarea
    appearance none
    background-color transparent
    border none
    color inherit
    font-family inherit
    font-size inherit
    font-weight inherit
    margin 0
    outline none
    padding 0

html
    box-sizing border-box
    font-size 100%
    height 100%

body
    height 100%
    line-height normal
    margin 0
    scroll-behavior smooth
    text-decoration-skip objects
    text-rendering optimizeLegibility
    text-size-adjust 100%
    width 100%
    -moz-osx-font-smoothing grayscale
    -webkit-font-smoothing antialiased
    -webkit-tap-highlight-color transparent

img
embed
iframe
object
audio
video
    height auto
    max-width 100%

iframe
hr
    border none

table
    border-collapse collapse
    border-spacing 0

td
th
    padding 0

input::-webkit-outer-spin-button
input::-webkit-inner-spin-button
input[type='search']::-webkit-search-cancel-button
input[type='search']::-webkit-search-decoration
    appearance none
    display none
    margin 0

input:-webkit-autofill
    // Прозрачный background
    transition background-color 86400s ease-in-out 0s
    -webkit-box-shadow 0 0 0 1000px transparent inset
    -webkit-text-fill-color black

a
    &:link
    &:visited
    &:any-link
        color inherit
        text-decoration none

a
button
    cursor pointer

    &::-moz-focus-inner
        border none
